NEXT_PUBLIC_SUPABASE_URL=https://ewjkebuntztcuvgvcfih.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3amtlYnVudHp0Y3V2Z3ZjZmloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMzUwMjUsImV4cCI6MjA5MTkxMTAyNX0.2mDMDGERgxCfbsJ2t9UJDlN6C1PWpjX-q_5lPh3jQ2M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3amtlYnVudHp0Y3V2Z3ZjZmloIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjMzNTAyNSwiZXhwIjoyMDkxOTExMDI1fQ._lT6UswCoOMcXtY3Lqp_FU9-gfULg9ZZswK0IENh3Lc
NEXT_PUBLIC_APP_URL=http://localhost:3000